.header-home {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 178px;
    padding-top: 54px;
    padding-bottom: 4px;
    background: #272727;
    box-shadow: 0 4px 8px #000;
}


.header-home .scroll-static-menu {
    background-color: rgba(185, 137, 60, 1);
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
}

.header-home__logo div {
    cursor: pointer;
}

.header-home__logo img {
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
    transition: all ease .2s;
    margin-right: 8px;
}

.header-home__logo img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .9);
    transition: all ease .2s;
}

.header-home__logo img:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .9);
}

.header-home__title div {
    width: 320px;
    height: 54px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease .3s;
}

.header-home__title.scroll-static-menu {
    position: fixed;
    top: 50px;
    background: #e6e6e6;
    z-index: 4;
    transition: all ease .2s;
}

.header-home__title h2 {
    padding: 0 !important;
    margin: 0 !important;
}

.header-home__title h2 span {
    display: flex;
    align-items: center;
    font-family: QuicksandBold, 'Segoe Print', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: 34px;
    font-weight: 900;
    color: #e6e6e6;
}

.header-home__title h2 span img {
    margin-left: 4px;
    box-shadow: none;
}

@media (max-width: 900px) {
    .header-home {
        display: flex;
        /* flex-direction: column;
        justify-content: space-between; */
        height: 196px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-home__logo img {
        width: 120px;
    }

    .header-home__title.scroll-static-menu {
        top: 0;
        transition: all ease .2s;
    }
}

@media (max-width: 600px) {
    .header-home {
        display: flex;
        /* flex-direction: column;
        justify-content: space-between; */
        height: 136px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-home__title h2 span {
        font-size: 22px;
    }

    .header-home__title h2 span img {
        width: 30px;
    }

    .header-home__logo img {
        width: 80px;
    }
}

@media (max-width: 270px) {

    .header-home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 146px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}