.Menu {
    padding: 1rem;
    position: relative;
    color: #e6e6e6;
    background-color: #272727;
    height: 100%;
    font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.Menu h1 {
    color: #e6e6e6;
}

.Menu button {
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    fill: #e6e6e6;
    transition: all ease .2s;
}

.Menu button:hover {
    fill: rgba(185, 137, 60, 1);
}

.Menu a {
    color: #e6e6e6;
    fill: #e6e6e688;
    font-size: 20px;
    margin: 0 -1rem;
    padding: 0.6rem 1rem;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: all ease .2s;
    cursor: pointer;
    transition: all ease .1s;
}

.Menu a:hover {
    transition: all ease .1s;
    color: rgba(185, 137, 60, 1);
    fill: rgba(185, 137, 60, 1);
}

.Menu a:hover::before {
    transition: all ease .1s;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    background: rgba(185, 137, 60, 1);
    left: 0;
    top: 0;
}

.Menu a svg {
    margin-right: 1rem;
}

.Menu a svg path {
    fill: #e6e6e6;
}