.App {
  padding: 0;
  margin: 0;
}

/* .background {

  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  opacity: .8;
} */

.animation {
  animation-name: opacity-background;
  animation-duration: .35s;
  animation-iteration-count: 1;
}

@keyframes opacity-background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }
}

/* 
.background-home {
  background-image: url('./assets/img/jpg/alcohol.jpg');
  background-position: center center;
}

.background-services {
  background-image: url('./assets/img/jpg/library.jpg');
  opacity: .8;
}

.background-about-us {
  background-image: url('./assets/img/jpg/road.jpg');
}

.background-contact {
  background-image: url('./assets/img/jpg/sunrise.jpg')
}

@media (max-width: 900px) {

  .background-home {
    background-image: url('./assets/img/jpg/welcome.jpg');
    background-position: center -20px;
  }

  .background-services {
    background-image: url('./assets/img/jpg/library-mobile.jpg');
    opacity: .8;
  }

  .background-about-us {
    background-image: url('./assets/img/jpg/road.jpg');
    background-position: center center;
  }

  .background-contact {
    background-image: url('./assets/img/jpg/sunrise.jpg');
    background-position: center -60px;
  }
} */

.header-home {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 160px;
  padding-top: 54px;
  padding-bottom: 4px;
  background: #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
  /* z-index: 3; */
}

.menu-slider {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 5px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  border-radius: 4px;
  transition: all ease .2s;
  -moz-transition: all ease .2s;
  -webkit-transition: all ease .2s;
  z-index: 3;
}

.header-home .social a svg {
  fill: rgba(255, 255, 255, .8);
}

.header-home .bg-scroll-social,
.header-home .social:hover {
  background-color: rgba(185, 137, 60, 1);
  transition: all ease .5s;
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
}

/* .header-home__logo {
  padding: 4px 0;
  text-align: center;
  background: #373737;
  width: 100%;
} */

.header-home__logo div {
  border-radius: 50%;
  cursor: pointer;
}

.header-home__logo img {
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
  transition: all ease .2s;
}

.header-home__logo img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .9);
  transition: all ease .2s;
}

.header-home__logo img:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .9);
}

.header-home__title {
  width: 300px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas';
  /* padding: 4px 0 0 0; */
  letter-spacing: 4px;
  font-size: 42px;
  font-weight: 900;
  /* background-color: rgba(255, 255, 255, .8); */
  color: #373737;
  cursor: pointer;
  border-radius: 4px;
  /* box-shadow: 0 0px 8px rgba(0, 0, 0, .3); */
  transition: all ease .3s;
}

.header-home__title.bg-scroll-social {
  position: fixed;
  top: 50px;
  background: #e6e6e6;
  z-index: 4;
  transition: all ease .2s;
}

@media (max-width: 900px) {
  .header-home__title.bg-scroll-social {
    top: 0;
    transition: all ease .2s;
  }
}

.header-home__title div {
  width: 280px;
}

.header-home__title div p {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;

  /* animation: animation-border 1s steps(1) infinite; */
  animation: animation-text 8s steps(38) 1s 1 normal both, animation-border .6s steps(1) 22;
}

.header-home__title div p span {
  display: flex;
  align-items: center;
}

.header-home__title div p span img {
  margin-left: 4px;
}

@keyframes animation-border {
  50% {
    border-right: .15em solid #373737;
  }
}

@keyframes animation-text {
  0% {
    width: 0;
  }

  25% {
    width: 250px;
  }

  35% {
    width: 250px;
  }

  40% {
    width: 214px;
  }

  45% {
    width: 214px;
  }

  55% {
    width: 250px;
  }

  70% {
    width: 250px;
  }

  80% {
    width: 110px;
  }

  90% {
    width: 230px;
  }

  99% {
    width: 230px;
  }

  /* 95% {
    width: 200px;
  } */
}

/* .header-home__title:hover {
  transition: all ease .3s;
  box-shadow: 0 0px 8px rgba(0, 0, 0, .6);
} */

.header-home__title:active {
  transition: all ease .3s;
  box-shadow: 0 0px 8px rgba(0, 0, 0, .2);
}

.background-title-logo {
  background: rgba(255, 255, 255, .5);
  /* padding: 4px; */
  border-radius: 4px;
}

.slogan {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 21px;
}

.slogan div {
  padding: 10px;
  background: #373737;
  opacity: .8;
  color: #fff;
  border: 1px solid #ffffff88;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

.slogan div span {
  font-family: QuicksandBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  padding: 4px 0;
  transition: all ease .2s;

}

.menu.bg-scroll-social {
  position: fixed;
  top: 0px;
  z-index: 5;
  background-color: #373737;
}

.menu div,
.menu-slider div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-left: 14px;
  padding: 4.8px 14px;
  background: rgba(255, 255, 255, .9);
  color: #373737;
  cursor: pointer;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 21.5px;
  border: 1px solid #ffffff88;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  opacity: .8;
  transition: all ease .4s;
  -moz-transition: all ease .4s;
  -webkit-transition: all ease .4s;
}

.menu-slider div {
  width: max-content;
  height: max-content;
  justify-content: space-between;
  margin-left: 0;
}

.menu div:first-child,
.menu .social-icon {
  width: 30px;
}

.menu div:hover,
.menu .btn-select {
  opacity: 1;
  transition: all ease .4s;
  -moz-transition: all ease .4s;
  -webkit-transition: all ease .4s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .6),
    0px 4px 8px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, .6),
    0px 4px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, .6),
    0px 4px 8px rgba(0, 0, 0, .3);
}

.menu div:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 218px;
  width: 100%;
  height: calc(100vh - 218px);
  background-color: #000;
  overflow: hidden;

}

.banner .text {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Satisfy';
  font-size: 80px;
  color: #e6e6e6;
  z-index: 2;
}

@media (max-width: 1360px) {
  .banner .text {
    font-size: 60px;
  }
}

@media (max-width: 1160px) {
  .banner .text {
    font-size: 54px;
  }
}

@media (max-width: 900px) {
  .banner .text {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .banner .text p:first-child {
    /* background: red; */
    width: 100%;
    /* margin-right: 30%; */
  }
}

@media (max-width: 485px) {
  .banner .text {
    font-size: 48px;
  }
}

.banner .text p {
  margin-bottom: 24px;
}

.banner .text p:first-child {
  /* text-align: right; */
}

.banner .text p:last-child {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: max-content;
  padding: 20px;
  border: 8px solid rgb(67, 254, 83);
  box-shadow: 2px 4px 8px 10px rgba(67, 254, 108, 0.3), 0px 2px 8px rgba(0, 0, 0, .8);
  border-radius: 24px;
  text-align: right;
  background: rgba(0, 0, 0, .5);
  /* background-image: url('./assets/img/jpg/image-textura.jpg') */
}

.banner .text p:last-child span {
  text-decoration: underline;
}

.banner img {
  /* height: 100%; */
  width: 100%;
  opacity: .6;
}

@media (max-width: 980px) {
  .banner img {
    width: 1600px;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* top: calc(100vh); */
  min-height: calc(100vh - 50px);
  width: 100%;
  /* background-color: rgb(253, 192, 135); */

  background: #e6e6e6;
  border-top: 2px solid #373737;
  padding-top: 20px;
  /* z-index: 2; */
}


.services__title {
  width: 50%;
  text-align: center;
  font-family: 'Satisfy';
  font-size: 60px;
  color: #373737;
  background: #e6e6e6;
  border: 10px solid #373737;
  /* border-top: 10px solid #373737; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, .9);
  margin-bottom: 20px;
  position: relative;
  rotate: 0;
  transition: all ease .2s;
}

.services__title::before {
  position: absolute;
  top: 4px;
  margin-left: 0px;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #373737;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}

.services__title.scroll-rotate-first {
  transition: all ease 1s;
  rotate: -10deg;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .9);
  z-index: 4;
}

.services__title.scroll-rotate-first::before {
  transition: all ease 1s;
  width: 12px;
  margin-left: 2px;
}

.services__title.scroll-rotate-second {
  transition: all ease 1s;
  rotate: 10deg;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .9);
  z-index: 4;
}

.services__title.scroll-rotate-second::before {
  transition: all ease 1s;
  width: 12px;
  margin-left: -4px;
}

@media (max-width: 800px) {
  .services__title {
    width: 90%;
  }
}

.services__content-subtitle {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-family: 'Bebas';
  /* background: red; */
  font-size: 70px;
  width: 100%;
}

.services__content {
  margin-bottom: 40px;
}

.services__content:last-child {
  background-image: url('./assets/img/jpg/drinks-night.jpg');
  background-position: center center;
  background-attachment: scroll;
  color: #fff;
  letter-spacing: 2px;
}

.services__content:last-child::before {
  position: absolute;
  content: '';
  margin-top: -2px;
  width: 100%;
  height: 20px;
  background: #e6e6e6;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 10px #e6e6e6;
}


@keyframes animation-points {}


.ant-row {
  justify-content: center;
}

.courses-list__course {
  /* padding: 12px !important; */
  display: flex !important;
  justify-content: center !important;

}

.ant-card {
  border-radius: 24px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}

.ant-card-cover {
  display: flex;
  align-items: center;
  background-color: #373737;
  overflow: hidden !important;
  height: 30vh;
  border-radius: 24px 24px 0 0;
}

.ant-card-body div {}


.content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  width: 70%;
  height: max-content;
  top: 340px;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 18px;
  color: #373737;
}

.content .section-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px 40px;
  background: rgba(243, 243, 243, .7);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-align: justify;
  opacity: 1;
  letter-spacing: .1px;
}

.animation-content {
  animation-name: opacity-content;
  animation-duration: .35s;
  animation-iteration-count: 1;
}

@keyframes opacity-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section-content .subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: QuicksandBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.section-content .border {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  right: 10%;
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: #37373788;
}

.section-content .end-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-content .end-text a:hover {
  color: rgba(185, 137, 60, 1);
  border-color: rgba(185, 137, 60, 1);
}

.section-content .end-text a {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 4px;
  color: rgba(0, 0, 0, .6)
}

.section-content p {
  width: 100%;
}

.bg-scroll-social,
.menu-slider:hover {
  background-color: rgba(185, 137, 60, 1);
  transition: all ease .5s;
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 160px;
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  background: rgba(255, 255, 255, .8);
  font-family: QuicksandBold;
  border: 1px solid rgba(255, 255, 255, .8);
  color: #373737;
  border-radius: 4px;
  font-size: 14px;
}

.footer>svg {
  margin-left: 4px;
  margin-right: 4px;
}

.footer a {
  margin-left: 4px;
  margin-right: 4px;
  color: #373737;
}

.footer a:hover {
  color: rgba(87, 87, 87, 1)
}

@media (max-width: 1180px) {
  .content {
    width: 84vw;
    justify-content: center;
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  /* .header-home {
    margin-top: 40px;
    height: 160px;
  } */

  .header-home__logo svg {
    width: 200px;
  }

  /* .header-home__title {
    font-size: 23px;
    padding-bottom: 6px;
  } */

  .menu {
    display: none;
  }

  .menu-slider {
    left: 6px;
    top: 10px;
  }

  .menu-slider.bg-scroll-social {
    /* top: 70px; */
  }

  .menu-slider div {
    font-size: 18px;
  }

  /* .background {
    width: 120vw;
    height: 120vh;
  } */

  .slogan {
    width: 100%;
    font-size: 16px;
    margin-left: 0;
  }

  .content {
    width: 98vw;
    top: 240px;
    font-size: 16px;
  }

  .content .section-content {
    text-align: left;
    letter-spacing: .1px;
    word-spacing: 0.25em;
    padding: 10px 10px;
  }

  .section-content .subtitle {
    font-size: 18px;
    font-family: QuicksandBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    ;
  }

  .section-content .border {
    width: 90%;
    right: 5%;
  }
}

@media (min-width: 901px) {
  .menu-slider {
    display: none;
    /* left: 20px;
    top: 20px; */
  }
}