@font-face {
  font-family: 'Quicksand';
  src:
    url('./fonts/Quicksand-Light.woff') format('woff'),
    url('./fonts/Quicksand-Light.ttf') format('TrueType');
}

@font-face {
  font-family: 'QuicksandBold';
  src:
    url('./fonts/Quicksand-Bold.woff') format('woff'),
    url('./fonts/Quicksand-Bold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Bebas';
  src:
    url('./fonts/Bebas.woff') format('woff'),
    url('./fonts/Bebas.ttf') format('TrueType');
}

@font-face {
  font-family: 'Satisfy';
  src:
    url('./fonts/Satisfy.woff') format('woff'),
    url('./fonts/Satisfy.ttf') format('TrueType');
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #171717 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}